[submodule "zigbee2mqtt2web"]
	path = zigbee2mqtt2web
	url = git@github.com:nicolasbrailo/zigbee2mqtt2web.git
[submodule "reolink_aio"]
	path = reolink_aio
	url = git@github.com:nicolasbrailo/reolink_aio.git
